body {
    background: #cecece;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    padding-top: 78px;
}

.navbar {
    background: #292929;
    border-radius: 0;
    border-bottom: 3px solid #3cbf3c;
    height: 58px;
}

.navbar .brand {
    float: left;
    font-size: 32px;
    margin: 3px 20px;
    color: #494949;
}

.navbar .container-fluid {
    padding-top: 10px;
    max-width: 450px;
    min-width: 250px;
}

.navbar .input-group {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.navbar .input-group .btn-search {
    border: none;
    background: rgba(255, 255, 255, 0.15);
    padding: 7px 12px;
    color: #989898;
    margin-left: 0px;
    outline: none;
}

.navbar .input-group .btn-search:hover {
    background: rgba(255, 255, 255, 0.32);
    color: #c5c5c5;
}

.navbar .input-group input,
.navbar .input-group button {
    border-radius: 0;
}

.navbar .input-group input {
    background: rgba(255, 255, 255, 0.15);
    border: none;
    color: #c5c5c5;
    text-shadow: rgba(0, 0, 0, 0.05) 1px 1px;
    padding-left: 20px;
}

.navbar .input-group input:focus {
    background: rgba(255, 255, 255, 0.26);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar .input-group input::-moz-selection {
    background: #c5c5c5;
}

.navbar .input-group input::selection {
    background: #c5c5c5;
}

.navbar .input-group input:focus::-webkit-input-placeholder {
    color: #c5c5c5;
}
.navbar .input-group input:focus::-moz-placeholder {
    color: #c5c5c5;
}
.navbar .input-group input:focus:-ms-input-placeholder {
    color: #c5c5c5;
}
.navbar .input-group input:focus:-moz-placeholder {
    color: #c5c5c5;
}

.message-bar {
    text-align: center;
}

.message-bar i {
    margin-right: 5px;
}

.results {
    padding: 0;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.results li {
    list-style-type: none;
}

.results li.item {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    background: #e8e8e8;
    display: inline-block;
    width: 140px;
    margin: 9px;
    height: 140px;
    text-align: center;

    // Performance optimizations.
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;

    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.results li.item:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.results li.item:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.results li.item a {
    display: block;
    height: inherit;
    color: inherit;
    text-decoration: none;
    position: relative;
    width: inherit;
    overflow: hidden;
}

.blurred {
    width: inherit;
    height: inherit;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.23;

    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.artist-name {
    position: relative;
    padding: 5px 10px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.image-container {
    height: 85px;
    width: inherit;
    overflow: hidden;
    background-size: cover;
    position: relative;
}

.results .image-container i {
    font-size: 60px;
    margin-top: 25px;
}

.results li.item i.fa-chevron-up {
    color: #3cbf3c;
}

.results li.item i.fa-chevron-down {
    color: #ff4747;
}

.results li.item i.fa-ellipsis-h {
    color: #059dea;
}

.results .attributes {
    position: relative;
    // display: flex;
    // justify-content: space-around;
    // flex-direction: row;

      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;

      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
}

.results .attributes span {
    font-family: 'Rubik';
    font-weight: 300;
}

.results .attributes span i {
    margin-right: 4px;
}

@media (max-width: 543px) {
    .results {
        padding: inherit;
    }

    .results li.item {
        width: 120px;
        height: 120px;
        margin: 4px;
    }

    .image-container {
        height: 70px;
    }

    .results .image-container i {
        font-size: 48px;
        margin-top: 20px;
    }

    .artist-name {
        font-size: 12px;
        letter-spacing: -1px;
    }
}

@media (min-width: 992px) {
    .results {
        max-width: 720px;
        padding: inherit;
    }

    .results li.item {
        width: 180px;
        height: 180px;
        margin: 12px;
    }

    .image-container {
        height: 125px;
    }

    .results .image-container i {
        font-size: 78px;
        margin-top: 35px;
    }
}

@media (min-width: 1200px) {
    .results {
        max-width: 1050px;
        padding: inherit;
    }

    .results li.item {
        width: 220px;
        height: 220px;
        margin: 15px;
    }

    .image-container {
        height: 165px;
    }

    .results .image-container i {
        font-size: 110px;
        margin-top: 35px;
    }

    .artist-name {
        padding-top: 4px;
    }
}
